<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Ismael Garcia 
    link(href="css/main-style.css", rel="stylesheet")
    //- Facebook link for share 
    meta( property="og:title" content="Ismael Garcia PORTFOLIO")
    meta( property="og:type" content="website")
    meta( property="og:site_name" content="Ismael Garcia")
    meta( property="og:url" content="")
    meta( property="og:image" content="http://i.imgur.com/vnQk3G3.jpg?2")
    meta( property="og:image:type" content="jpg")
    meta( property="og:image:widht" content="1200")
    meta( property="og:image:height" content="400")
body
    header
        .header-overlay
            .header_title
                h1.main-title Responsive Front End Development
                a(href="#Portfolio", title="title").header_btn View Portfolio  
            .header_img
                img(src="http://i.imgur.com/vnQk3G3.jpg?2" ).header_perfil_img           
    nav.main_nav
        .container
            .logo Ismael 
            ul
                li
                    a.nav_link(href="#") Home
                li
                    a.nav_link(href="#") About
                li
                    a.nav_link(href="#") Portfilio
                li
                    a.nav_link(href="#") Contact
    section.Portfolio
            .title
                h2 welcome to my Portfolio
            .container
                .portfolio_container
                    .portfolio__item.p_item_1
                        img(src="http://i.imgur.com/rfE8Rit.png", alt="") 
                        h3 About me 
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos natus eum aliquid officia in quo voluptatum pellat similique!
                        a(href="#") Lear more
                    .portfolio__item.p_item_2
                        img(src="http://i.imgur.com/QAYha93.png", alt="") 
                        h3 Personal website 
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos natus eum aliquid officia in quo voluptatum pellat similique!
                        a(href="#") Lear more
                    .portfolio__item.p_item_3
                        img(src="http://i.imgur.com/GmzwOme.jpg", alt="") 
                        h3 Personal website 
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos natus eum aliquid officia in quo voluptatum pellat similique!
                        a(href="#") Lear more 
                .portfolio_container
                    .portfolio__item.p_item_2
                        img(src="http://i.imgur.com/LSVxXO8.png", alt="") 
                        h3 Personal website 
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos natus eum aliquid officia in quo voluptatum pellat similique!
                        a(href="#") Lear more 
                    .portfolio__item.p_item_1
                        img(src="http://i.imgur.com/GmzwOme.jpg", alt="") 
                        h3 Personal website 
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos natus eum aliquid officia in quo voluptatum pellat similique!
                        a(href="#") Lear more
                    .portfolio__item.p_item_2
                        img(src="http://i.imgur.com/GmzwOme.jpg", alt="") 
                        h3 Personal website 
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos natus eum aliquid officia in quo voluptatum pellat similique!
                        a(href="#") Lear more 