* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

p {
    font-size: 14px;
}


/*========Genetic CSS=======*/

.section-title {
    padding: 90px 5px 50px 5px;
}

.section-title h2 {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    text-transform: uppercase;
    color: #333;
}

.section-title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #129CF3;
    margin-left: -30px;
}

.section-title p {
    color: #333;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    text-align: center;
    margin-top: 45px;
}


/******Container main******/


/*.container{
    padding: 168px 0;
}*/


/*====== Navigstion css======*/

.navbar-default {
    background: transparent;
    border-color: #444;
    z-index: 110;
    transition: all 1s;
    -moz-transition: all 1s;
}

.navbar-default .navbar-nav>li>a {
    color: #b5b5b5;
    font-family: "Raleway", sans-serif;
    transition: all 1s;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #129cf3;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #b5b5b5;
}

.navbar-brand img {
    transition: all 1s;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: transparent;
    color: #129cf3;
}


/*     HEADER            */

.header {
    background: url("../images/header-bg.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}

.header-overlay {
    background: rgba(31, 31, 31, 0.75);
}

.header-container {
    padding: 168px 15px;
}

.logo {
    padding-bottom: 50px;
}

.header-text h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 300;
    /*line-height: 45px;*/
    line-height: 150%;
    padding-top: 50px;
    text-transform: uppercase;
}

.header-text p {
    color: #fff;
    font-size: 17px;
    line-height: 150%;
    font-weight: 300;
}

.header-btn {
    margin: 50px 0;
}

.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited {
    background: transparent;
    border-color: #129CF3;
    padding: 10px 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.btn-download:hover {
    background: #129cf3;
    color: #fff;
}

.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited {
    color: #a9adb0;
    margin-left: 20px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
    background: transparent;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.btn-tour:hover {
    color: #fff;
}

.btn-tour i {
    font-size: 20px;
    color: #129cf3;
    padding-left: 10px;
}

.header-iphone img {
    width: 100%;
}


/*******=====About Us =====********/

.choose-us-wrapper {
    padding-top: 50px;
    line-height: 20px;
    text-align: start;
    color: #333;
}

.choose-us-title {
    padding-bottom: 50px;
}

.choose-us-title h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 37px;
    text-transform: uppercase;
    position: relative;
}

.choose-us-title h2:after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 70px;
    height: 1px;
    background-color: #129CF3;
}

.choose-us-title p {
    margin-top: 40px;
    font-size: 19px;
    line-height: 150%;
    color: #343434;
}

.choose-us-item {
    padding: 0 0 4px 80px;
    position: relative;
    font-size: 15px;
    line-height: 150%;
    color: #727272;
}

.choose-us-item h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 22px;
    text-transform: uppercase;
}

.about-iphone img {
    margin-top: 10px;
}


/*===About Us Icon===*/

.choose-us-item .fa,
.left-feature-item i,
.right-feature-item i {
    position: absolute;
    background: #fff;
    color: #129cf3;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.choose-us-item .fa,
.right-feature-item i {
    top: 0;
    left: 0;
    font-size: 55px;
    line-height: 55px;
}


/*=======Testimonial =============*/

.testimonial {
    background: url("/loso-content/images/testimonial-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.testimonial-overlay {
    padding: 80px 0;
    background: rgba(31, 31, 31, 0.75);
}

.carousel-indicators {
    bottom: -10px;
}

.carousel-inner .item img {
    border: 2px solid #129cf3;
    border-radius: 50%;
    padding: 3px;
}

.testimonial-caption {
    color: #129cf3;
    font-size: 18px;
    padding-bottom: 70px;
}

.testimonial-caption h2 {
    margin-top: 25px;
    font-size: 30px;
    font-weight: 900;
    line-height: 33px;
    text-transform: uppercase;
}

.testimonial-caption h4 {
    font-weight: 500;
}

.testimonial-caption h4 span {
    color: #d8d8d8;
    font-weight: 300;
    /* font-style:italic;*/
}

.testimonial-caption p {
    font-size: 18px;
    color: #d8d8d8;
    line-height: 27px;
    padding-top: 50px;
}


/*=======Features =======*/

.left-feature-item,
.right-feature-item {
    text-align: right;
    line-height: 20px;
    position: relative;
    color: #333333;
    margin: 35px 0 65px;
}

.left-feature-item {
    padding-right: 90px;
}

.right-feature-item {
    padding-left: 90px;
    text-align: left;
}

.left-feature-item i {
    right: 0;
}

.left-feature-item h3,
.right-feature-item h3 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.left-feature-item p,
.right-feature-item p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 21px;
    color: #7b7b7b;
}

.left-feature-item i,
.right-feature-item i {
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    width: 90px;
    height: 90px;
    top: -8px;
}


/*=======Purchese now =======*/

.purchase {
    margin-top: 70px;
    background: #1a1a1a;
    color: #333333;
    padding: 100px 0;
}

.purchase p {
    font-size: 18px;
    line-height: 150%;
    color: #dfdfdf;
}

.purchase .btn-purchase-now {
    padding: 15px 35px;
    background: #129cf3;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.purchase .btn-purchase-now:hover {
    background: #1274b1;
}


/*==================Screens====================*/

.screen .row .carousel-inner .item img {
    width: 100%;
    border-radius: 1px;
    border: none;
}


/*============= Counter ============*/

.counter {
    background: url(../images/counter-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.counter-overlay {
    padding: 120px 0;
    background: rgba(0, 0, 0, 0.5);
}

.counter-item i {
    font-size: 60px;
    color: #129cf3;
}

.counter-item h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 35px;
    color: #d7dadb;
    font-weight: 700;
}

.counter-item p {
    font-size: 20px;
    color: #d7dadb;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}


/*=============Avaible on============*/

.avaible {
    background: #1a1a1a;
    color: #b5b5b5;
    position: relative;
    margin-top: -8px;
}

.avaible-title {
    padding-top: 75px;
}

.avaible-title h2 {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.no-padding {
    padding: 0 0;
}

.avaible-on-item {
    padding: 0 0 15px 0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    min-height: 230px;
    border-left: 1px solid #0f1217;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.avaible-on-item:hover {
    background: #121212;
}

.avaible-on-item i {
    color: #129cf3;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    padding-top: 90px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.avaible-on-item:hover i {
    opacity: 0;
}

.avaible-on-inner {
    position: absolute;
    bottom: 93px;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.avaible-on-inner h2 {
    font-size: 16px;
    font-weight: 300;
    color: #d7dadb;
}

.avaible-on-item:hover .avaible-on-inner {
    opacity: 1;
}


/*======Contact======*/

.contact .form-control {
    width: 100%;
    height: 50px;
    padding: 5px 12px;
    opacity: .8;
    outline: none;
    -webkit-transition: all 1s;
    transition: all 1s;
}

#message {
    height: 150px;
    resize: none;
}

.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
    width: 100%;
    height: 50px;
    background: #fff;
    padding: 10px;
    font-size: 18px;
    color: #129cf3;
    border: 1px solid #129cf3;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.submit-btn:hover {
    background: #129cf3;
    color: #fff;
}

.social-icon {
    padding: 50px 70px;
}

.social-icon ul {
    list-style: none;
    text-align: center;
}

.social-icon li {
    display: inline;
}

.social-icon ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    line-height: 49px;
    font-size: 20px;
    color: #9d9d9d;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.social-icon ul li a:hover {
    color: #fff;
    background: #129cf3;
}


/*=======Footer=====*/

footer {
    padding: 35px 0;
    background: #1a1a1a;
    border-bottom: 3px solid #129cf3;
}

footer p {
    color: #8c8b8a;
    font-weight: 600;
    text-transform: uppercase;
    width: 50%;
    font-size: 16px;
}

footer p a {
    text-decoration: none;
}

.scroll-top {
    text-align: right;
}

.scroll-top a {
    background: #129cf3;
    padding: 25px;
}

.scroll-top a i {
    font-size: 30px;
    color: #fff;
}