@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Spirax");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*GENERAL CSS*/
html,
body {
  height: 100%; }

.container {
  max-width: 1200px;
  margin: auto; }

/*Header css */
header {
  background: url("https://source.unsplash.com/KfbFP_NvLLU/1400x800");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #fff; }

.header-overlay {
  width: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header_title {
  padding: 40px;
  text-align: center;
  min-height: 400px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-top: 150px; }

.main-title {
  padding: 80px 40px;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 1px; }

.header_btn {
  font-weight: 800;
  color: #21b2a6;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  padding: 15px 60px;
  transition: all 1s;
  background: #fff; }

.header_btn:hover {
  box-shadow: 300px 0 #21b2a6 inset, -300px 0 #21b2a6 inset;
  color: #fff; }

.header_img {
  padding: 40px;
  width: 100%;
  text-align: center; }

.header_perfil_img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border: 10px solid rgba(33, 178, 166, 0.9);
  border-radius: 50%; }

.main_nav {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  z-index: 100;
  background: rgba(255, 255, 255, 0.3); }

.main_nav .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px; }

.main_nav .container ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none; }

.nav_link {
  text-decoration: none;
  color: #fff;
  padding: 40px;
  font-weight: 300;
  transition: all 1s; }

.logo {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Spirax', cursive;
  font-size: 25px;
  font-weight: 100;
  text-transform: none;
  letter-spacing: 2px;
  border: 3px solid rgba(33, 178, 166, 0.7); }

.nav_link:hover,
.logo:hover {
  color: #21b2a6; }

.Portfolio {
  margin-top: 40px; }

.title {
  color: #000;
  text-align: center;
  padding: 60px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  line-height: 140%; }

.title::after {
  content: "";
  display: block;
  background: #21b2a6;
  width: 10%;
  height: 5px;
  margin: 20px auto 0;
  border-radius: 2px; }

.portfolio_container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: rgba(33, 178, 166, 0.6); }

.portfolio__item {
  width: 33.333%;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .portfolio__item h3 {
    text-transform: uppercase;
    padding: 20px;
    padding-top: 40px;
    font-weight: bold;
    line-height: 140%; }
  .portfolio__item p {
    font-family: 'Lato', sans-serif;
    line-height: 150%;
    padding: 20px 5px; }
  .portfolio__item a {
    text-decoration: none;
    color: #21b2a6;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .portfolio__item img {
    height: 200px;
    width: 100%; }

.p_item_1,
.p_item_3 {
  background: rgba(255, 255, 255, 0.8); }
